@layer klp {
  .ds-button {
    --klp-icon-spinner: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 50 50' fill='none' stroke='currentcolor' stroke-width='5' stroke-linecap='round'%3E%3Cstyle%3E @keyframes rotate %7B to %7B rotate:360deg %7D %7D @keyframes stroke %7B 50%25 %7Bstroke-dasharray:100,200;stroke-dashoffset:-15;transform:rotate(0deg)%7D to %7Bstroke-dasharray:1,200;stroke-dashoffset:-120;transform:rotate(15deg)%7D %7D circle:last-child%7Banimation:stroke ease-in-out infinite 2s,rotate linear infinite 2s;transform-origin:center%7D%3C/style%3E%3Ccircle cx='25' cy='25' r='20' opacity='.1'%3E%3C/circle%3E%3Ccircle cx='25' cy='25' r='20' stroke-dasharray='1, 200'%3E%3C/circle%3E%3C/svg%3E");
    transition: .2s;
  }

  .ds-button[data-variant="primary"],
  .ds-button:not([data-variant]) {
    --dsc-button-color: #fff;
  }

  .ds-button[data-variant="tertiary"] {
    --dsc-button-background: #eee;
    --dsc-button-color: #000;
  }

  .ds-button[data-variant="tag"] {
    --dsc-button-border-width: var(--ds-border-width-default);
    --dsc-button-border-color: color-mix(in oklch, currentcolor 30%, transparent);
    --dsc-button-border-radius: var(--ds-border-radius-full);
    --dsc-button-background: none;
    --dsc-button-color: #000;
  }

  .ds-button[aria-busy="true"]::before {
    content: '';
    background: currentcolor;
    mask: var(--klp-icon-spinner);
    flex-shrink: 0;
    width: var(--ds-size-5);
    height: var(--ds-size-5);
  }
}